.testimonial__container {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.testimonial__title {
  text-align: center;
  margin-bottom: 2rem;
}

.testimonial__title h6 {
  font-size: clamp(10px, 5vw, 20px);
  font-style: italic;
  color: var(--hover-color);
}
.testimonial__title h3 {
  font-size: 42px;
  font-size: clamp(20px, 5vw, 42px);
  font-weight: 700;
  padding-top: 10px;
}

.testimonial__item {
  box-shadow: 0px 4px 40px rgba(43, 89, 255, 0.08);
  background: #ffffff;
  border-radius: 10px;
  padding: 2rem;
}
