.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-inline: auto;
  /* z-index: 1; */
}

@media screen and (max-width: 600px) {
  .featured {
    display: flex;
    flex-direction: column;
    /* gap: 20px;
    margin-inline: auto;
    z-index: 1; */
  }
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex: 1;
}

.featuredImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featuredTitles {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
