.header-section {
  width: 100%;
  transform: translateY(0);
  transition: 0.5s all;
  background-color: var(--primary-color);
  color: black;
  padding: 3px 0 5px 0;
  /* fflasdf */
  position: fixed;
  z-index: 10;
  top: 0;
}

header.compaq {
  top: 0;
  /* backdrop-filter: blur(5px); */
  background-color: var(--primary-color);
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.05);
}

header.hide {
  transform: translateY(-120px);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo,
.logo {
  font-family: math;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block-start: 1rem !important;
}

.header__links a,
.responsive-header__links a {
  list-style: none;
  padding: 8px 12px;
  transition: all 0.3s;
  border-radius: 5px;
  font-weight: 600;
}

.button-primary {
  color: var(--primary-color);
  border: 1px solid var(--hover-color);
  background-color: var(--hover-color);
  &:hover {
    color: var(--parimary-secondary);
    background-color: var(--primary-color);
  }
}

.button-secondary {
  border: 1px solid var(--primary-color);
}

.button-secondary:hover {
  color: var(--hover-color);
  border: 1px solid var(--hover-color);
}

.active {
  color: var(--hover-color);
}

.header__menu--link:hover {
  color: var(--hover-color);
}

.responsive-header__content {
  display: none;
}

/* hello */

@media screen and (max-width: 600px) {
  .header__content {
    display: none;
  }

  .responsive-header__content {
    display: block;
  }

  .responsive__nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
  }

  .responsive-header__menu {
    text-align: center;
  }

  .header__nav--links {
    text-align: center;
  }

  .responsive__menu-bar {
    margin-top: 10px;
  }
}
