.mail {
  max-width: 1250px;
  /* margin-top: 50px; */
  margin: 0 auto;
  background-image: url(../../assets/newsletter.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 113px 0;
  border-radius: 20px 30px 20px 30px;
}
